/* 嵌套表格样式(用于展示json的层级化数据) */
.object-table {
    display: inline-block;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    color: #615c59;
}
.object-table .thead {
    background: #ddd;
    font-weight: 700;
}
.object-table .tbody > .row:nth-child(even) {
    background: #f6f6f6;
}
.object-table .row {
    display: flex;
    flex: 1;
}
.object-table .column {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.object-table .leaf {
    display: flex;
    box-sizing: border-box;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
    word-break: normal;
    align-items: center;
}
.object-table .thead .leaf {
    justify-content: center;
}