<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 删除二叉树节点 </title>
    <!-- 经常加载不成功，下载个本地的放这里 -->
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script src="./vue.js"></script>
    <link href="tree.css" rel="stylesheet">
    <style rel="stylesheet">
        /* 遍历展示 */
        .order {
            text-align: center;
        }
        .order .title {
            display: inline-block;
        }
        .order .value {

        }
    </style>
</head>
<body>
<div id="binary-tree">
    <node :node-data="nodeData" :tree="tree"></node>
</div>

<div id="binary-new-tree">
    <node :node-data="nodeData" :tree="tree"></node>
</div>

<script type="text/x-template" id="node">
    <div class="node" v-if="nodeData !== null">
        <div class="value" @click="del(nodeData)">{{nodeData.value}}</div>
        <div class="con-left-right">
            <div class="left">
                <div v-if="leftNodeData !== null" class="line"></div>
                <node v-if="leftNodeData !== null"
                      :node-data.sync="leftNodeData"
                      :tree="tree"></node>
            </div>
            <div class="right">
                <div v-if="rightNodeData !== null" class="line"></div>
                <node v-if="rightNodeData !== null"
                      :node-data.sync="rightNodeData"
                      :tree="tree"></node>
            </div>
        </div>
    </div>
</script>
<script src="./tree.js"></script>
<script>
    // 在末尾加数，就可以看到效果
    var initData = [5, 3, 7, 2, 4, 6.5, 6, 6.6, 9, 8, 10, 1, 3.5, 4.5, 4.6];
    var tree = new Tree(initData);

    Vue.component('node', {
        name: 'node',
        template: '#node',
        props: ['nodeData', 'tree'],
        data: function () {

            var leftNodeData = null;
            var rightNodeData = null;
            var tree = this.tree;

            if (this.nodeData !== null) {
                // 左节点数据兼容
                if (this.nodeData.leftKey !== null) {
                    leftNodeData = tree.getNode(this.nodeData.leftKey);
                }
                // 右节点数据兼容
                if (this.nodeData.rightKey !== null) {
                    rightNodeData = tree.getNode(this.nodeData.rightKey);
                }
            }
            return {
                leftNodeData: leftNodeData,
                rightNodeData: rightNodeData
            };
        },
        methods: {
            del: function (nodeData) {
                var newTree = new Tree(initData);
                newTree.deleteNode(nodeData.id);

                new Vue({
                    el: '#binary-new-tree',
                    data: {
                        // getNode 函数来自 get-node.js，模拟二级存储的提取操作
                        nodeData: newTree.getNode(),
                        tree: newTree
                    }
                });
            }
        }
    });

    var app = new Vue({
        el: '#binary-tree',
        data: {
            // getNode 函数来自 get-node.js，模拟二级存储的提取操作
            nodeData: tree.getNode(),
            tree: tree
        }
    });
</script>
</body>
</html>