/* 动画 */
.button,
.input-text {
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
/* 简单按钮 */
.button {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    border: none;
    outline: none;
    color: white;
    background-color: #1b9af7;
    font-weight: 300;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:focus {
    background-color: #4cb0f9;
}
.button:visited {
    background-color: #1b9af7;
}
.button:hover {
    background-color: #4cb0f9;
}
.button:active {
    background-color: #2798eb;
    color: #0880d7;
    border-color: #2798eb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* 加号图标 */
.icon-plus,
.icon-minus {
    position: relative;
    vertical-align: middle;
    padding: 0;
    /* font-size: 14px;  如果不统一字号和行高，会出现基线对齐的问题 */
    width: 30px;
}
/* 加号图标 - 横线 */
.icon-plus:before,
.icon-minus:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 6px;
    width: 18px;
    height: 1px;
    background: white;
    content: "\200B";
}
/* 加号图标 - 竖线 */
.icon-plus:after {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 14px;
    width: 1px;
    height: 18px;
    background: white;
    content: "\200B";
}
.icon-plus:active:after,
.icon-plus:active:before,
.icon-minus:active:before {
    background-color: #0880d7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
/* 输入框 */
.input-text {
    display: inline-block;
    outline: none;
    border: 1px solid #dce4ec;
    padding: 0 8px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.input-text:focus {
    border-color: #1b9af7;
}
/* checkbox */
.icon-checkbox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #b8b8b8;
}
.icon-checkbox.checked {
    background: #e74f4f;
}
.icon-checkbox:before,
.icon-checkbox:after {
    position: absolute;
    display: block;
    background: #fff;
    content: "\200B";
    height: 3px;
    width: 14px;
    border-radius: 2px;
    overflow: hidden;
    top: 23px;
    left: 5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.icon-checkbox:after {
    width: 25px;
    top: 19px;
    left: 12px;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
}

.three-jiao {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid #1b9af7;
    border-right: 20px solid #1b9af7;
    border-bottom: 20px solid #fff;
    border-left: 20px solid #fff;
    transform: rotate(45deg);
}
.three-jiao-2 {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid #1b9af7;
    border-right: 20px solid #fff;
    border-bottom: 0;
    border-left: 20px solid #fff;
    transform: rotate(-89deg);
}

/* 右上角的角标 */
.corner-mark {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 20px;
    top: -6px;
    /* 几何计算结果：1/2 - sqr(2)/4 */
    right: -6px;
    padding: 5px;
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
}
.corner-mark:before {
    position: absolute;
    top: 6.8px;
    right: 0;
    z-index: -1;
    content: '\200B';
    display: inline-block;
    line-height: 1px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    opacity: .9;
    border-top: 20px solid #d73d32;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #d73d32;
    border-left: 20px solid #fff;
    transform: rotate(-45deg);
}
/*.corner-mark:after {*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*position: absolute;*/
    /*content: '\200B';*/
    /*background: #1abc9c;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*transform: rotate(-45deg);*/
/*}*/