html {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 30px; /* 与 footer 的高度要相同 */
    background: #eee;
}
body {
    text-align: center;
    margin: 0;
    background: #ddd;
}
p {
    line-height: 200px;
    margin: 5px;
    background: #333;
    color: #fff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}