body {
    width: 220px;
    height: 300px;
}

#task-container {
    border: 1px solid #999;
    font-size: 14px;
}

#task-container .item {
    padding: 5px;
    border-bottom: 1px solid #999;
    margin-bottom: -1;
}

#task-container .empty {
    color: #666;
    text-align: center;
    padding: 10px;
}

#task-container .item span {
    float: right;
}

#task-container .item span.todo {
    color: #666;
}

.btn-container {
    padding: 15px;
    text-align: center;
}